@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_maps";
@import "../node_modules/bootstrap/scss/_mixins";
@import "../node_modules/bootstrap/scss/_utilities";

$sena-primary: #269146;
$sena-secondary: #2ad05c;
$sena-light: #f2f2f2;
$sena-dark: #222222;
$sena-danger: #ff0b55;
$sena-info: #ffd63a;
$sena-warning: #7c4585;

$sena-theme-colors: (
  "sena-primary": $sena-primary,
  "sena-secondary": $sena-secondary,
  "sena-light": $sena-light,
  "sena-dark": $sena-dark,
  "sena-danger": $sena-danger,
  "sena-info": $sena-info,
  "sena-warning": $sena-warning,
);

$theme-colors: map-merge($theme-colors, $sena-theme-colors);

$utilities: map-merge(
  $utilities,
  (
    "background-color": (
      property: background-color,
      class: bg,
      values: $theme-colors,
    ),
    "color": (
      property: color,
      class: text,
      values: $theme-colors,
    ),
  )
);

@import "../node_modules/bootstrap/scss/bootstrap";
